<h1><%= @title %>/</h1>

<%= print_recursive(@files) %>
<hr>
<footer>
<small>source code <a href="http://github.com/tuomasj/lolserver">github.com/tuomasj/lolserver</a> -- <a href="http://twitter.com/tuomasj">@tuomasj</a></small>
</footer>
